*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Encode Sans", sans-serif;
    background-color: #d9d9d9;
}
.wrapper{
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 53px;
    padding: 0 133px;
}
.left{
    /* background-color: beige; */
}
.left h1{
    font-size: 72px;
    color: #5881D0;
}
.left p{
    font-size: 24px;
    color: #222222;
}
.right{
    
    /* padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px; */ 
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    max-width: 508px;
}
.right form input{
    width: 100%;
    height: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    color: #D9D9D9;
    font-size: 15px;
}
.right form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}
form .loginbtn{
    background-color: #5881d0;
    width: 100%;
    height: 48px;
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px; */
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
}
form .createbtn{
    margin: auto;
    background-color: #459573;
    display: block;
    width: 50%;
    height: 48px;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
}
.right p{
    text-align: center;
    font-size: 14px;
}

@media only screen and (max-width: 768px){
    .wrapper{
        height: auto;
        grid-template-columns: 1fr;
        padding: 0 16px;
        gap: 16px;
        padding-top: 90px;
    }

    .left h1{
        font-size: 48px;
        color: #5881D0;
        text-align: center;
    }

    form .createbtn{
        width: 80%;
        padding: 8px 8px;
        font-size: 15px;
    }
    .left p{
        text-align: center;
    }
}